<div class='jumbotron jumbotron-fluid">
  <div class='container'>
    <h1 class='display-4'><%= @song.title %></h1>
    <p class='lead'>By:<%= @song.artist %></p>
    <p><%= @song.link %></p>
  </div>
</div>  
<hr />

<div id="reviews" style='margin-left: 20px;'>
<p>Reviews</p>

<% if @song.reviews %>
  <% @song.reviews.each do |review| %>
    <%= render 'reviews/review', { review: review } %>
  <% end %>
<% else %>
  <p> There are no reviews for this song yet. Be the first!</p>
<% end %>


<%= link_to 'Add Review', new_song_review_path(@song) %>

<!--<%= link_to 'Edit Song', edit_song_path(@song) %>

<%= link_to 'Delete song', @song, method: :delete, data: { confirm: 'Are you sure?' } %>-->

<%= link_to 'Back', songs_path %>

</div>