<h1><%= @song.title %></h1>

<p>By:<%= @song.artist %></p>

<%= @song.link %>

<hr />
<!-- add logic here to show reviews if there are any, be the first to review if none -->
<p>Reviews</p>


<p>reviews here</p>


<%= link_to 'Add a new review', new_song_review_path(@song) %>

<%= link_to 'Edit Song', edit_song_path(@song) %>

<%= link_to 'Delete song', @song, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back to song list', songs_path %>

